<form #registerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
<form (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input type="text" name="username" [(ngModel)]="user.username" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre completo</ion-label>
    <ion-input type="text" name="fullname" [(ngModel)]="user.fullname" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="user.email" required></ion-input>
    <ion-text color="danger" *ngIf="registerForm.controls['email']?.invalid && (registerForm.controls['email']?.dirty || registerForm.controls['email']?.touched)">
      <ion-icon name="alert-circle"></ion-icon>
      <span *ngIf="registerForm.controls['email']?.errors?.['required']">Correo electrónico es requerido.</span>
      <span *ngIf="registerForm.controls['email']?.errors?.['email']">Ingresa un correo electrónico válido.</span>      
    </ion-text>
  </ion-item>
  

  <ion-item>
    <ion-label position="floating">Foto de perfil</ion-label>
    <ion-input type="text" name="profilePicture" [(ngModel)]="user.profilePicture"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Biografía</ion-label>
    <ion-textarea name="bio" [(ngModel)]="user.bio"></ion-textarea>
  </ion-item>

  <ion-button type="submit" expand="block">Registrarse</ion-button>
</form>
